body{
background: #000;
}
div{
    background: #fff;
    color:#000;
    margin: 10px;
}

.none{
    display:none;/*Удаляет стороку из документа*/
}

 .opacity-0{
opacity: 1;
 }

 .opacity-1{
    opacity: 0.5;
 }
 
 .opacity-5{
    opacity:0;
 }

 .visibility{
visibility: hidden;
 }


/* Cправочная инвормация*/
/* opacity: значение(от 0 до 1); - задает прозрасность элемента */
/* visibility отображение или скрытие элемента
visible - Отображает элемент как видимый.
hidden - Элемент становится полностью прозрачным
collapse -  В случае использования collapse для содезаданные строки и колонки убираются, а таблица перестраивается по новой. 
inherit - Наследует значение родителя.
*/