/*Справочная информация*/
/* line-height - межстрочный интервал текста
 letter-spacing - интервал между символами
 word-spacing - итнервал между словами
text-transform - преобразованием текста элемента в заглавные или прописные символы.

*/

.one{
  line-height:1.5em ;
}

.two{
  letter-spacing: 5px;
}

.three{
  word-spacing: 20px;
  text-decoration:line-through ;
}

h1{
  text-transform:uppercase;
}

h2{
  text-decoration:overline;
}
/* text-transform
Aтрибуты:
capitalize - Первый символ каждого слова в предложении будет заглавным.
lowercase - Все символы текста становятся строчными (нижний регистр).
uppercase - Все символы текста становятся прописными (верхний регистр).
none - Не меняет регистр символов.
inherit - Наследует значение родителя.
*/

/* text-decoration
blink - Устанавливает мигающий текст. Такой текст периодически, примерно раз в секунду исчезает, потом вновь появляется на прежнем месте.
line-through - Создает перечеркнутый текст .
overline - Линия проходит над текстом .
underline - Устанавливает подчеркнутый текст .
none - Отменяет все эффекты, в том числе и подчеркивания у ссылок, которое задано по умолчанию.
inherit - Значение наследуется у родителя.*/