/*  
VW, VH, VMIN, VMAX - относительно окна (вьюпорта) браузера

VW работает относительно ширины вьюпорта - width
VH относительно высоты вьюпорта - height
VMIN - относительно наименьшего значения из (VW, VH)
VMAX - относительно наибольшего значения из (VW, VH).

100vw равно ширине окна браузера (вьюпорта)
100vh равно высоте окна браузера (вьюпорта).
100wmin равно наименьшему из (vw, vh)
100vmax равно наибольшему из (vw, vh) 
*/

.r{
width: 50vw;
height: 50vh;
background:rebeccapurple;
}

.m{
  width: 100vw;
  height: 100vh;
  background:red;
}