body{
    display: flex;
}

div{
width: 150px;
height: 150px;
margin: 7px;
}

.one{
    background: linear-gradient(red,green);
}

.two{
    background: linear-gradient(to top, red,green,rgb(255, 0, 170));
}

.three{ 
    background: linear-gradient(315deg,green,blue);
}

.four{
 background: linear-gradient(to top right, rgb(255, 0, 149),rgb(67, 0, 252));
 }

.five{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9));
}

.six{
    background: linear-gradient(to left,rgba(0,0,0,0.3),rgba(0,0,0,0.9));
}