body{
font-family:Helvetica;/* утанавливает шрифт (семейство шрифтов) */
}

h1{
  font-family:Verdana;
}

div{  font-family:"Roboto",sans-serif;}

.t{
  font-weight: 400;
  font-style: oblique ;
  text-align: center;
}

 .n{
  font-weight: 700;
  font-style: italic;
  text-align: end;
 }

 r.{
    font-style: normal;
    text-align: right;
}
                                    /*Справочная информация*/
/*font-family - утанавливает шрифт
Значения :
serif — шрифты с засечками (антиквенные), типа Times;
sans-serif — рубленные шрифты (шрифты без засечек или гротески), типичный представитель — Arial;
cursive — курсивные шрифты;
fantasy — декоративные шрифты;
monospace — моноширинные шрифты, ширина каждого символа в таком семействе одинакова (шрифт Courier).*/

/*  font-weight - Насыщенность шрифта 
 Задаётся : 
 bold — полужирное начертание
 normal — нормальное начертание 
Также допустимо использовать условные единицы от 100 до 900. 
Значения bolder и lighter изменяют жирность относительно насыщенности родителя, соответственно, в большую и меньшую сторону.*/

/* font-style - Определяет начертание шрифта 
Значения :
normal - Обычное начертание текста.
italic - Курсивное начертание.
oblique - Наклонное начертание.
inherit - Наследует значение родителя.
*/

/* text-align - вравнивание текста 
Значения : 
center - Выравнивание текста по центру.
justify - Выравнивание по ширине
left - Выравнивание текста по левому краю.
right - Выравнивание текста по правому краю.
auto - Не изменяет положение элемента.
inherit - Наследует значение родителя.
start - Аналогично значению left, если текст идёт слева направо и right, когда текст идёт справа налево.
end - Аналогично значению right, если текст идёт слева направо и left, когда текст идёт справа налево.
*/